.presentation {
    margin:0.5em;
    padding:0.2em;
    border: 0.2em solid rgb(26, 40, 40);
    border-radius:0.8em;
    text-align: center;
}

body {
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

div.section {
    border-left: 0.2em solid rgb(26, 40, 40);
    border-radius: 0.2em;
    padding: 0.5em;
    margin: 0.2em;
}